@using Microsoft.AspNetCore.Identity
@model IEnumerable<CareHub.Models.Posts>
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Publicações";
    var currentUser = await UserManager.GetUserAsync(User);
    var isAdmin = currentUser != null && await UserManager.IsInRoleAsync(currentUser, "Administrador");
}

<head>
    <title>Indíce</title>
</head>

<h1>Indíce</h1>

<div class="justify-content-center mb-2 rounded bg-black btn">
    <a class="text-white text-decoration-none hover-gray btn " asp-action="Criar" >Criar nova publicação</a>
</div>

    @foreach (var item in Model)
    {

        <div class="w-100 bg-black border border-3 border-black rounded mb-2 px-3 py-2 container-fluid">
            
            <div class="text-white ms-1 mb-2">
                <img alt="imagem perfil" class="rounded-circle bg-white" width="50" height="50" src="@item.Utilizador.Foto" />
                @Html.DisplayFor(modelItem => item.Utilizador.Nome)
            </div>
            <div class="text-white ms-1 h2 mb-2">
                @Html.DisplayFor(modelItem => item.TituloPost)
            </div>
            <div class="text-white ms-2 mb-2 small">
                @Html.DisplayFor(modelItem => item.Categoria)
            </div>
            <div class="text-white ms-1 fs-5">
                @Html.DisplayFor(modelItem => item.TextoPost)
            </div>
            <div class="text-center">
                <img class="img-fluid" style="max-width: 200px;" src="@item.Foto"/>
            </div>
            <div class="text-white ms-1">
                @Html.DisplayFor(modelItem => item.DataPost)
            </div>



            <div>

                <a class="text-white text-decoration-none ms-1 hover-gray" asp-action="Detalhes" asp-route-id="@item.IdPost">Detalhes</a>

                @if (@item.Utilizador.IdentityUserName == User.Identity.Name | isAdmin)
                {
                    <a class="text-white text-decoration-none ms-1 hover-gray" asp-action="Editar" asp-route-id="@item.IdPost">Editar</a>
                    <a class="text-white text-decoration-none ms-1 hover-gray" asp-action="Delete" asp-route-id="@item.IdPost">Apagar</a>
                }



            </div>
        </div>
    }
  

